@{
    Layout = null;
}
<!-- Add the following namespace usages: -->
@using DevExpress.AspNetCore
@using DevExpress.DashboardWeb
@using DevExpress.DashboardAspNetCore

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Add bundled resources. -->
    <link href="~/css/site.min.css" rel="stylesheet" />
    <script src="~/js/site.min.js"></script>

    <script>
        var dashboardControl;

        function onBeforeRender(sender) {
            dashboardControl = sender;
            dashboardControl.registerExtension(new DevExpress.Dashboard.DashboardPanelExtension(dashboardControl));

            dashboardControl.on("optionChanged", (args) => {
                if (args.name === "workingMode")
                    UpdateDashboardData();
            });

            dashboardControl.remoteService.headers = { "DashboardWorkingMode": "Designer" };
        }

        function UpdateDashboardData() {
            dashboardControl.remoteService.headers = { "DashboardWorkingMode": dashboardControl.option("workingMode") };
            dashboardControl.reloadData();
        }
    </script>
</head>
<body>
    <!-- Add the Web Dashboard with the "clientDashboardControl1" name to a View, specify its size, and set the Working Mode to Designer. -->
    <div style="position: absolute; left:0;top:0;right:0;bottom:0;">
        @(Html.DevExpress().Dashboard("clientDashboardControl1")
            .ControllerName("DefaultDashboard")
            .Width("100%")
            .Height("100%")
            .OnBeforeRender("onBeforeRender")
            .Extensions(ext => ext.DataSourceWizard(wiz => wiz.EnableCustomSql(true)))
        )
    </div>
</body>
</html>